body {
    /*font-family: Arial, sans-serif;*/
    background-color: #f0f0f0;
}

body {
    font-family: 'Inter', sans-serif;
    font-feature-settings: "tnum", "zero";
}

.homepage-link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color of the text inside, i.e., the h1 */
}

h1 {
    background-color: #333;
    color: #fff;
}

.content-container {
    margin: 0 auto;
    max-width: 75%; /* You can adjust this as needed */
    overflow-x: auto;
    margin-bottom: 2rem;
}

.news-container {
    margin: 0 auto;
    /* max-width: 80%; */ /* You can adjust this as needed */
    overflow-x: auto;
}

@media (min-width: 992px) {
    .news-container {
        max-width: 80%;
    }
}

.static-table th, .static-table td {
    min-width: 100px;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    border: 1px solid #ccc;
    text-align: left;
    min-width: 85px;
    font-size: 12px;
}

th:first-child, td:first-child {
    /*position: sticky;*/
    /*left: 0;*/
    background: #FFF;
    z-index: 1;
}

.dataTables_length, .dataTables_info, .dataTables_paginate {
    font-size: 12px;
}

#top-ad-space {
    min-height: 100px;
}

#side-ad-space {

}

@media (min-width: 992px) {
    .container-with-side-ad {
        display: grid;
        grid-template-columns: 80% 1fr;
        width: 100% !important;
        gap: 2rem;
    }

    .table-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 20px;
        overflow-x: auto;
    }
}

@media (min-width: 768px) {
    .table-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 20px;
        overflow-x: auto;
    }
}

.table-container {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}
