<div class="rounded px-2 d-flex flex-row gap-1 gap-md-3 flex-wrap">
    <a class="btn btn-dark"
       href="{{ url_for('home') }}"
    >
        HOME
    </a>
    <a class="btn btn-dark"
       href="{{ url_for('srp23_teamoverview') }}"
    >
        SRP
    </a>
    <a class="btn btn-dark"
       href="{{ url_for('prem23_teamoverview') }}"
    >
        PREM
    </a>
    <a class="btn btn-dark"
       href="{{ url_for('urc23_teamoverview') }}"
    >
        URC
    </a>
    <a class="btn btn-dark"
       href="{{ url_for('t1424_teamoverview') }}"
    >
        T14
    </a>
</div>
