{% extends 'base.html' %}
{% block content %}
    <div class="content-container">
        <p>
            Listen up! Think you've got the inside source on rugby union stats? Spoiler: You're probably missing the best bits.
        </p>
        <p>
            Here's the breakdown:
            <ul>
                <li>Comprehensive Match Insights: Run meters, offloads, line-breaks – we've got the goods.</li>
                <li>Global League Coverage: From the rowdy action down south to the pint-raising drama up north, we've got the stats on every scrum, try, and questionable referee call around the globe.</li>
                <li>Historical Data: For those who fancy a trip down memory lane or just want to prove your mates Dad Leo wrong, our vast history vault is your treasure trove.</li>
            </ul>
        </p>
        <p>
            Picture this: You, beer in hand, dropping statistical dimes left and right, making your mates wonder if everything is okay at home. Our data doesn't just enhance your game day—it makes you the local legend.
        </p>
        <p>
            That's pretty much it. Comprehensive match data for rugby union. All in one place.
        </p>
    </div>

    <div class="news-container">
        <h2>Latest Rugby News from Twitter</h2>
        <a class="twitter-timeline" href="https://twitter.com/_backrowsports?ref_src=twsrc%5Etfw">Tweets by _backrowsports</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}
