{% extends 'base.html' %}
{% block content %}
    <div class="content-container">
        <p>
            Back Row Sports - Providing the average punter complete access to all data relating to Rugby Union.
        </p>
        <p>
            The breakdown:
        <ul>
            <li>Comprehensive Match Insights: Run meters, offloads, line-breaks, tackles - we have everything covered.</li>
            <li>Global Coverage: Top 14, Super Rugby Pacific, United Rugby Championship, Premiership Rugby, and much more. We cover the stats on every scrum, try, and questionable referee call around the globe.</li>
            <li>Team or Player view: Would the Crusaders beat Leinster? Who is the best player? We have Team and Player Overviews for you to decide.</li>
        </ul>
        </p>
        <p>
            That's pretty much it. Comprehensive match data for Rugby Union. All in one place.
        </p>
    </div>

    <h2 class="text-center mb-3">Global Snapshot</h2>

    <div class="home-table-container">
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">SRP 2024</h3>
            {{ avg_metres_srp|safe }}
        </div>
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">PREM 2024</h3>
            {{ avg_metres_prem|safe }}
        </div>
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">URC 2024</h3>
            {{ avg_metres_urc|safe }}
        </div>
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">T14 2024</h3>
            {{ avg_metres_t14|safe }}
        </div>
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">SRP 2024</h3>
            {{ top_tries_srp|safe }}
        </div>
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">PREM 2024</h3>
            {{ top_tries_prem|safe }}
        </div>
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">URC 2024</h3>
            {{ top_tries_urc|safe }}
        </div>
        <div class="static-table">
            <h3 class="text-center mb-1" style="font-size: 14px;">T14 2024</h3>
            {{ top_tries_t14|safe }}
        </div>
    </div>
{% endblock %}
