{% extends 'base.html' %}
{% block title %}Back Row Sports — URC 2022 — Team Season Overview{% endblock %}
{% block content %}
    <div class="mb-5 d-flex flex-column gap-4 align-items-center">
        <div>
            <h2 class="m-0 display-3 fw-bolder text-center">
                United Rugby Championship
            </h2>
        </div>
        <div>
            <select class="form-select"
                    id="year-select"
            >
                <option value="{{ url_for('urc23_teamoverview') }}"
                >2023
                </option>
                <option value="{{ url_for('urc22_teamoverview') }}"
                        selected
                >2022
                </option>
            </select>
        </div>
        <div>
            <select class="form-select"
                    id="page-select"
            >
                <option value="{{ url_for('urc22_teamoverview') }}"
                        selected
                >Team Overview
                </option>
                <option value="{{ url_for('urc22_playeroverview') }}"
                >Player Overview
                </option>
            </select>
        </div>
    </div>
    <div class="table-container">
        <div class="static-table">
            {{ avg_cb|safe }}
        </div>
        <div class="static-table">
            {{ avg_db|safe }}
        </div>
        <div class="static-table">
            {{ avg_runs|safe }}
        </div>
        <div class="static-table">
            {{ avg_metres|safe }}
        </div>
        <div class="static-table">
            {{ avg_offl|safe }}
        </div>
        <div class="static-table">
            {{ avg_tkl|safe }}
        </div>
    </div>

    <div class="table-container">
        {{ table|safe }}
    </div>

    {% include '_datatables_scripts.html' %}

    <!-- Initialize DataTables -->
    <script>
        $(document).ready(function () {
            $('.table:last').DataTable({
                "pageLength": 16,
                "lengthMenu": [[16, 25, 50, -1], [16, 25, 50, "All"]],
                "initComplete": function (settings, json) {
                    $(".table:last").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
{% endblock %}
